@model Yearwood.Timestable.Entities.TestResult

<section class="panel panel-default">
    <div class="panel-heading">@Model.TestResultDate</div>
    <div class="panel-body">
        Number of Correct Questions: @Model.TotalCorrectAnswers
        Total Number of Questions: @Model.TotalNumberofQuestions
    </div>
</section>